<%- include('../layout/header.ejs') %> 
<div class="alert alert-success">
    <h1 class="alert alert-success">File uploaded successfully</h1>
</div>
   
  <div class="container mb-3">
    <a href="/upload" class="btn btn-warning">Upload another video</a>
    <a href="/">All videos</a>
  </div>
<%- include('../layout/footer.ejs') %> 